body {
    background: #F1F1F1;
    color: #666666;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 16px; /* notes: default font size in most browser */
}

a {
    color: #08C;
    text-decoration: none;
}

h1, h3 {
    color: #000000;
}

div#content {
    background: white;
    width: 980px;
    margin: 0 auto;
    border: 3px solid #AAAAAA;
    display: grid;
    /* grid-gap: 5px; */
}

div#banner {
    background-image: url(images/hero.png);
    background-position: 0px 50px;
    background-repeat: no-repeat;   /* notes */
    /* background-size: cover; */
    background-size: 900px 600px;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 50px; /* notes: try margin, possible cut off the image */
    height: 650px;
}

div.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid rgb(223, 223, 223); /* notes */
    background: linear-gradient(rgb(243, 243, 243), white); /* notes */
    padding: 20px;
}

table#specs {
    border-collapse: collapse;
    margin: 20px;
}

table#specs th, td {
    border: 2px solid #AAAAAA;
}

table#specs th {
    padding-left: 20px;
    text-align: left;
}

table#specs thead td {
    text-align: center;
}